<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<meta charset="UTF-8" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js" />
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
 
     <h:outputScript library="js" name="formatDatePicker.js" />
	
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<title><ui:insert name="title">Calculator</ui:insert></title>
</h:head>
<body>
	<div class="container">
		<ui:insert name="header">
			<h:form>
				<div class="navbar navbar-inverse">
					<!-- <div class="navbar-brand"> -->
					<nav class="navbar navbar-expand-lg navbar-light bg-light"> <ui:insert
						name="page">Calculator</ui:insert>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon" />
					</button>
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav">
							<c:if test="#{access.isLoggedIn()}">
								<h:commandLink styleClass="nav-item nav-link"
									action="#{access.forwardToPage('basicCalc')}"
									value="Basic Calculator" />
								<h:commandLink styleClass="nav-item nav-link"
									action="#{access.forwardToPage('advanceCalc')}"
									value="Advance Calculator" />
								<c:if test="#{access.isAdmin()}">
									<h:commandLink styleClass="nav-item nav-link"
										action="#{access.forwardToPage('audit')}" value="Audit" />
								</c:if>
								<h:commandLink styleClass="nav-item nav-link"
									action="#{access.logout()}" value="Log Out" />
							</c:if>
						</div>
					</div>
					</nav>
				</div>
			</h:form>
		</ui:insert>
		<ui:insert name="content">default content</ui:insert>
		<ui:insert name="footer">
			<footer
				class="page-footer font-small stylish-color-dark fixed-bottom">
			<div class="footer-copyright text-center py-3">&copy; Created
				by Jan-Fourie</div>
			</footer>


		</ui:insert>
		<ui:insert name="sripts" />
	</div>
</body>
</html>