<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="templates/navBar.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	<ui:define name="page">Audit</ui:define>
	<ui:define name="content">
		<h:form>
			<div class="form-group">
				<h:outputLabel styleClass="control-lable col-sm-3" value="User" />
				<div class="col-sm-10">
					<h:selectOneMenu styleClass="control-lable col-sm-2"
						value="#{audit.user}">
						<f:selectItem itemValue="" itemLabel="" />
						<f:selectItems value="#{audit.getAuditUsers()}" var="userList"
							itemValue="#{userList}" itemLabel="#{userList}" />
					</h:selectOneMenu>
				</div>
			</div>
			<div class="form-group">
				<h:outputLabel value="Date From" styleClass="control-label col-sm-2" />
				<div class="col-sm-2">
					<h:inputText value="#{audit.dateFrom}"
						styleClass="form-control datepicker" />
				</div>
			</div>
			<div class="form-group">
				<h:outputLabel value="Date To" styleClass="control-label col-sm-2" />
				<div class="col-sm-2">
					<h:inputText value="#{audit.dateTo}"
						styleClass="form-control datepicker" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2">
					<h:commandButton styleClass="btn btn-defualt"
						action="#{audit.getAuditFilter()}" value="Filter" />
				</div>
			</div>
		</h:form>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>User</th>
					<th>Calculation</th>
					<th>Answer</th>
					<th>Rounding used</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<ui:repeat var="aud" value="#{audit.audits}">
					<tr>
						<td>#{aud.userName}</td>
						<td>#{aud.calculation}</td>
						<td>#{audit.convertAnswer(aud.answer)}</td>
						<td>#{aud.rounding}</td>
						<td>#{aud.requestedDate}</td>
					</tr>
				</ui:repeat>
			</tbody>
		</table>

	</ui:define>
</ui:composition>
