<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="templates/navBar.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<ui:define name="page">Basic Calculator</ui:define>
	<ui:define name="content">
		<f:selectItems value="#{basic.Operators}" var="Operator"
			itemValue="#{Operator}" itemLabel="#{Operator.label}" />
		<h:form styleClass="form-horisontal">
			<div class="form-group">
				<h:outputLabel styleClass="control-lable col-sm-2"
					value="Input number 1" />
				<div class="col-sm-10">
					<h:inputText styleClass="form-control"
						value="#{basic.inputNumber1}" />
				</div>
			</div>
			<div class="form-group">
			<h:outputLabel styleClass="control-lable col-sm-3"
					value="Operator" />
				<div class="col-sm-10">
					<h:selectOneMenu styleClass="control-lable col-sm-2"
						value="#{basic.operator}">
						<f:selectItems value="#{basic.operators}" var="operator"
							itemValue="#{operator}" itemLabel="#{operator.label}" />
					</h:selectOneMenu>
				</div>
			</div>
			<div class="form-group">
				<h:outputLabel styleClass="control-lable col-sm-3"
					value="Input number 2" />
				<div class="col-sm-10">
					<h:inputText styleClass="form-control"
						value="#{basic.inputNumber2}" />
				</div>
			</div>
			<div class="form-group">
				<h:outputLabel styleClass="control-lable col-sm-3"
					value="Places to Round" />
				<div class="col-sm-10">
					<h:selectOneMenu styleClass="control-lable col-sm-2"
						value="#{basic.round}">
						<f:selectItem itemValue="0" itemLabel="0" />
						<f:selectItem itemValue="1" itemLabel="1" />
						<f:selectItem itemValue="2" itemLabel="2" />
						<f:selectItem itemValue="3" itemLabel="3" />
						<f:selectItem itemValue="4" itemLabel="4" />
					</h:selectOneMenu>
				</div>
			</div>
			<h:message globalOnly="true" />
			<div class="form-group">
				<div class="col-sm-offset-2">
					<h:commandButton styleClass="btn btn-defualt"
						action="#{basic.calculate()}" value="Calculate" />
				</div>
			</div>
			<c:if test="#{not empty basic.result}">
				<h:outputLabel styleClass="control-lable col-sm-2" value="Results" />
				<div class="col-sm-10">
					<h:outputLabel styleClass="control-lable col-sm-2"
						value="#{basic.result}" />
				</div>
			</c:if>
		</h:form>


	</ui:define>
</ui:composition>
