<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="templates/navBar.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	<ui:define name="page">Calculator Register</ui:define>
	<ui:define name="content">
		<h:form styleClass="form-horisontal">
			<div class="form-group">
				<h:outputLabel styleClass="control-lable col-sm-2" value="User Name" />
				<div class="col-sm-10">
					<h:inputText styleClass="form-control" value="#{access.userName}" />
				</div>
			</div>
			<div class="form-group">
				<h:outputLabel styleClass="control-lable col-sm-2" value="Password" />
				<div class="col-sm-10">
					<h:inputSecret styleClass="form-control" value="#{access.password}" />
				</div>
			</div>
			<div class="form-group">
				<h:outputLabel styleClass="control-lable col-sm-2"
					value="Administrator" />
				<div class="col-sm-10">
					<h:selectBooleanCheckbox value="#{access.administrator}" />
				</div>
			</div>
			<h:message globalOnly="true"/>
			<div class="form-group">
				<div class="col-sm-offset-2">
					<h:commandButton styleClass="btn btn-defualt"
						action="#{access.registerUser()}" value="Register" />
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>



